<!DOCTYPE html>
<html lang="<%= lang %>">

<%- include('../partials/head', { title })  %>

<body class="login-page fixed" data-barba="wrapper">

    <!-- Preloader -->
    <%- include('../components/preloader') %>

    <!-- Navbar -->
    <%- include('../components/navbar', { path, lang, ...components.navbar }) %>

    <!-- Main Block (Scroll Container) -->
    <main data-scroll-container data-barba="container" data-barba-namespace="login">

        <!-- Fleet React App -->
        <div id="login-react-app"></div>
        
        <!-- Footer -->
        <%- include('../components/footer', { path, lang, ...components.footer }) %>

    </main>
    
    <!-- JavaScript -->
    <%- include('../partials/scripts'), { lang }  %> 

</body>

</html>