<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>United Travel LLC</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="/fonts/silka.css">

</head>

<body class="home-page fixed" data-barba="wrapper">

    <!-- Preloader -->
    <section class="preloader" id="preloader">
    <div class="preloader__content">
        <svg><use href="/img/icons.svg#logo"></use></svg>
        <span class="preloader__spinner"></span>
    </div>
</section>

    <!-- Navbar -->
    <!--NBCTN-->
<div class="navbar full" id="navbar">

    <div class="nb-esc no-esc"></div>

    <!-- Desktop Navbar -->
    <div class="navbar__full">

        <div class="navbar__background"></div>

        <a class="navbar__brand" href="/">
            <svg><use href="/img/icons.svg#logo"></use></svg>
            <span>United Travel</span>
        </a>

        <nav class="navbar__nav" aria-label="desktop">
            <ul class="navbar__nav-list">
    <li class="animate-item"><a href="/" data-nav-namespace="home">Home</a></li>
    <li class="animate-item"><a href="/about" data-nav-namespace="about">About</a></li>
    <li class="animate-item"><a href="/fleet" data-nav-namespace="fleet">Fleet</a></li>
    <li class="animate-item"><a href="/contact" data-nav-namespace="contact">Contact</a></li>
    
</ul>
        </nav>

        <div class="navbar__actions">
            <!-- Language -->
            <div class="navbar__lang">
                <div class="navbar__lang-icon nb-lng">
                    <svg><use href="/img/icons.svg#language"></use></svg>
                </div>
                
                <div class="navbar__lang-menu hidden">
                    <ul>
                        <li data-nav-lang="en" class="active"><p class="small">English</p></li>
                        <li data-nav-lang="es" class=""><p class="small">Español</p></li>
                    </ul>
                </div>
            </div>

            <!-- Divider -->
            <hr>

            <!-- Profile Logged In -->
            <% if (user._id) { %>
                <div class="navbar__profile">

                    <!-- Logged In Icon -->
                    <div class="navbar__profile-pic nb-clt">
                        <img src="<%- user.photo %>" alt="Profile Photo">
                    </div>

                    <div class="navbar__profile-menu hidden">
                        <ul>
                            <li><p class="small">Hello <%- user.preferredName %></p></li>
                            <hr>
                            <li><a href="/account"><span>My account</span></a></li>
                            <li><a class="app-logout" href="#" id="nb-logout"><span>Log out</span></a></li>
                        </ul>
                    </div>

                </div>
            <% } else { %>
                <div class="navbar__profile">

                    <!-- Logged Out Icon -->
                    <svg class="navbar__profile-icon nb-clt"><use href="/img/icons.svg#person-circle"></use></svg>
                    
                    <div class="navbar__profile-menu hidden">
                        <ul>
                            <li><a href="/login"><span>Create account</span></a></li>
                            <li><a href="/login"><span>Login</span></a></li>
                        </ul>
                    </div>

                </div>
            <% } %>

            <!-- Call To Action -->
            <a href="/book" class="navbar__cta">Book Now</a>
        </div>

    </div>

    <!-- Hamburger Menu Only -->
    <div class="navbar__min">
        <div class="navbar__menu-icon">
            <span></span>
            <span></span>
        </div>
    </div>
    
</div>

<div class="nav-menu hidden" id="nav-menu">

    <!-- Menu Background -->
    <div class="nav-menu__bg"></div>

    <!-- Desktop Menu Layout -->
    <div class="nav-menu__desktop">

        <div class="nav-menu__visual">

            <!-- Absolutely Positioned Nav menu -->
            <div class="nav-menu__image">
                <img src="https://storage.googleapis.com/utravel-site-content/img/menu-visual.png" alt="Mercedes driving in fog">
            </div>

            <!-- Branding -->
            <a href="/" class="nav-menu__brand">
                <svg><use href="/img/icons.svg#logo"></use></svg>
                <span class="h5">United Travel</span>
            </a>

            <!-- Log In Card -->
            <div class="user-acct">

                <!-- Backgronud -->
                <div class="user-acct__bg"></div>

                <% if (user._id) { %>
                    <div class="user-acct__photo">
                        <img src="<%- user.photo %>" alt="profile photo" />
                    </div>

                    <div class="user-acct__content">
                        <h6 class="bold">Hello <%- user.preferredName %></h6>
                        <div>
                            <a href="/account">My account</a>
                            <hr>
                            <a href="#" class="app-logout">Log out</a>
                        </div>
                    </div>
                <% } else { %>
                    <div class="user-acct__icon">
                        <svg class="icon-xl"><use href="/img/icons.svg#person-circle"></use></svg>
                    </div>

                    <div class="user-acct__content">
                        <h6 class="bold">Welcome Traveller</h6>
                        <div>
                            <a href="/login">Create account</a>
                            <hr>
                            <a href="/login">Login</a>
                        </div>
                    </div>
                <% } %>

            </div>

        </div>
        
        <div class="nav-menu__content">

            <nav aria-label="desktop hamburger">
                <ul class="nav-menu__list">
    <li class="animate-item"><a href="/" data-nav-namespace="home">Home</a></li>
    <li class="animate-item"><a href="/about" data-nav-namespace="about">About</a></li>
    <li class="animate-item"><a href="/fleet" data-nav-namespace="fleet">Fleet</a></li>
    <li class="animate-item"><a href="/contact" data-nav-namespace="contact">Contact</a></li>
    
</ul>
            </nav>

            <div class="nav-menu__cta">
                <div class="content">
                    <h4 class="white animate-item">Ready to book?</h4>
                    <p class="small animate-item">Ready to book a ride for your next trip to Orlando? You can book your ride online using our online booking system.</p>
                    <a href="/book" class="btn-pill filled primary animate-item">Book Now </a>
                </div>
            </div>

            <div class="nav-menu__lang">
                <svg class="icon-md animate-item"><use href="/img/icons.svg#language"></use></svg>
                <ul>
                    <li data-nav-lang="en" class="animate-item  active"><h5>English</h5></li>
                    <li data-nav-lang="es" class="animate-item "><h5>Español</h5></li>
                </ul>
            </div>

        </div>

    </div>

    <div class="nav-menu__mobile">

        <div class="nav-menu__content">
            <a href="/" class="nav-menu__brand animate-item">
                <svg><use href="/img/icons.svg#logo"></use></svg>
            </a>
    
            <nav aria-label="mobile">
                <ul class="nav-menu__list">
    <li class="animate-item"><a href="/" data-nav-namespace="home">Home</a></li>
    <li class="animate-item"><a href="/about" data-nav-namespace="about">About</a></li>
    <li class="animate-item"><a href="/fleet" data-nav-namespace="fleet">Fleet</a></li>
    <li class="animate-item"><a href="/contact" data-nav-namespace="contact">Contact</a></li>
    
        <li class="animate-item"><a href="/book" data-nav-namespace="booking">Book Now</a></li>
    
</ul>
            </nav>
    
            <div class="nav-menu__account">
                <% if (user._id) { %>
                    <h5 class="white animate-item">Hello <%- user.preferredName %></h5>
                    <div>
                        <a class="animate-item" href="/account">My account</a>
                        <a class="animate-item app-logout" href="#">Log out</a>
                    </div>
                <% } else { %>
                    <h5 class="white animate-item">Welcome Traveller</h5>
                    <div>
                        <a class="animate-item" href="/login">Create account</a>
                        <a class="animate-item" href="/login">Login</a>
                    </div>
                <% } %>
            </div>
    
            <ul class="nav-menu__lang">
                <li data-nav-lang="en" class="animate-item active"><h5>English</h5></li>
                <li data-nav-lang="es" class="animate-item"><h5>Español</h5></li>
            </ul>
        </div>

    </div>

</div>
<!--NBCTN-->

    <!-- Main Block (Scroll Container) -->
    <main data-scroll-container data-barba="container" data-barba-namespace="home">

        <!-- Hero Section -->
        <section class="hero" id="hero">

            <!-- Background Video -->
            <div class="hero__background">
                <div class="bg-video">
                    <div class="bg-video__overlay"></div>
                    <div class="bg-video__fallback loading"></div>
                    <video class="bg-video__player" autoplay muted loop playsinline>
                        <!-- <source src="https://storage.googleapis.com/utravel-site-content/video/hero-bg.webm" type="video/webm"> -->
                        <source src="https://storage.googleapis.com/utravel-site-content/video/hero-bg.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- Content -->
            <div class="hero__content" data-scroll data-scroll-speed="-2">

                <h1>ride with <span id="typewrite" data-period="2500" data-words="[``style``, ``comfort``, ``ease``]"></span><span class="blink">|</span></h1>
                <h4>Orlando-based black car services</h4>
                <a href="/book" class="btn-pill hollow white">Book Reservation </a>
                
            </div>

        </section>

        <!-- Beyond -->
        <section class="section">

            <!-- Section Grid -->
            <div class="section__grid collapse-cards">

                <!-- Content Block -->
                <div class="content" >
                    <h2>From point <span>A</span> to <span>Beyond.</span></h2>
                    <p>We provide safe, high quality and reliable transportation services throughout Central Florida. We also offer long distance transportation in and out of Orlando. We take pride in getting you to your next destination with ease, comfort and peace of mind.</p>
                    <a href="/book" class="btn-pill hollow dark">Book Now</a>
                </div>

                <!-- Image -->
                <div class="section__image">
                    <picture>
                        <source srcset="https://storage.googleapis.com/utravel-site-content/img/city-car.webp" type="image/webp">
                        <source srcset="https://storage.googleapis.com/utravel-site-content/img/city-car.png" type="image/png">
                        <img src="https://storage.googleapis.com/utravel-site-content/img/city-car.png" alt="Car in city">
                    </picture>
                </div>

            </div>

        </section>

        <!-- Airport Service -->
        <section class="fsi" id="airport-service">

            <!-- Background Image -->
            <div class="fsi__background">
                <picture>
                    <source srcset="https://storage.googleapis.com/utravel-site-content/img/airport.webp" type="image/webp">
                    <source srcset="https://storage.googleapis.com/utravel-site-content/img/airport.jpg" type="image/jpeg">
                    <img src="https://storage.googleapis.com/utravel-site-content/img/airport.jpg" alt="Airport Waiting">
                </picture>
            </div>

            <!-- Gradient Overlay -->
            <div class="fsi__overlay" style="--bg-gradient-desktop: linear-gradient(90.2deg, #000000 30.31%, rgba(0, 0, 0, 0.25) 99.86%)"></div>

            <!-- Section Content -->
            <div class="fsi__content">
                <div class="content" data-scroll data-scroll-speed="2">
                    <h2 class="white">Airport Service</h2>
                    <p>Need to be picked up or dropped off at the airport? No problem! We arrive on time and offer you the most professional and seamless experience possible. For convenience, we track your flight status so you don’t have to wait for your driver to arrive.</p>
                    <a href="/book" class="btn-pill hollow white">Book Reservation </a>
                </div>
            </div>

        </section>
        
        <!-- Cruise Service -->
        <section class="fsi" id="cruise-service">

            <!-- Background Image -->
            <div class="fsi__background">
                <picture>
                    <source srcset="https://storage.googleapis.com/utravel-site-content/img/cruise.webp" type="image/webp">
                    <source srcset="https://storage.googleapis.com/utravel-site-content/img/cruise.jpg" type="image/jpeg">
                    <img src="https://storage.googleapis.com/utravel-site-content/img/cruise.jpg" alt="Cruise Ship">
                </picture>
            </div>

            <!-- Gradient Overlay -->
            <div class="fsi__overlay cruise" style="--bg-gradient-desktop: transparent"></div>

            <!-- Section Content -->
            <div class="fsi__content align-right">
                <div class="content" data-scroll data-scroll-speed="2">
                    <h2 class="white">Cruise Service</h2>
                    <p>Planning a cruise and need to be dropped off at the terminal? We’ve got you covered! We can have a driver waiting for you right outside before you leave. Our high quality services can accommodate all your needs and get you there right on time for the festivities to begin!</p>
                    <a href="/book" class="btn-pill hollow white">Book Reservation </a>
                </div>
            </div>

        </section>

        <!-- Charter Services -->
        <section class="section">

            <!-- Section Grid -->
            <div class="section__grid collapse-cards">

                <!-- Content Block -->
                <div class="content">
                    <h2>Charter Service</h2>
                    <p>Book a driver for the day! This is perfect for special events or even a day touring Orlando’s world class attractions. We’ll take you anywhere you need to go and be there waiting for you for your next adventure. If you would like to book our charter services, please contact us for more information.</p>
                    <a href="#content" class="btn-pill hollow dark">Contact Us </a>
                </div>

                <!-- Image -->
                <div class="section__image">
                    <img src="https://storage.googleapis.com/utravel-site-content/img/time.jpg" alt="hand holding a clock">
                </div>

            </div>

        </section>

        <!-- Long Distance Rides -->
        <section class="long-distance">
            <div class="long-distance__map">
                <picture>
                    <source srcset="https://storage.googleapis.com/utravel-site-content/img/map.webp" type="image/webp">
                    <source srcset="https://storage.googleapis.com/utravel-site-content/img/map.png" type="image/png">
                    <img src="https://storage.googleapis.com/utravel-site-content/img/map.png" alt="Map of Florida">
                </picture>
            </div>

            <div class="long-distance__content" data-scroll data-scroll-speed="1">
                <div class="content">
                    <h2 class="white"><span>Long distance rides?</span> No problem.</h2>
                    <p>Do you need to go from Orlando to Miami? We proudly offer long distance rides for your convenience. Sit back and relax as we drive you across the state of Florida. Enjoy a comfortable and smooth drive down south without worries and watch the time fly by!</p>
                    <a href="#content" class="btn-pill hollow white">Book Now</a>
                </div>
            </div>
        </section>

        <!-- Safety Section -->
        <section class="section bg-alt">
            <div class="section__grid flex-start">

                <div class="content">
                    <h2>Accommodating your children.</h2>
                    <p>We want to ensure that your children are safe. We offer car seats in various sizes to prioritize your children’s safety. When you book a ride with us, you can special request these car seats and we will accommodate your needs and safety.</p>
                </div>

                <div class="content">
                    <h2>Prioritizing your safety.</h2>
                    <p>We prioritize your comfort and safety first! We will go the extra mile to ensure a first class experience and get you to your destination safely and in a timely manner. Our fleet of vehicles are thoroughly cleaned and sanitized before and after each ride,  for peace of mind. Whether you’re in Florida for business, or on vacation, we gladly offer our class leading services to assist you.</p>
                </div>

            </div>
        </section>

        <!-- Reviews  -->
        <div id="reviews-react-app"></div>

        <!-- Call To Action -->
        <section class="cta">
    <div class="cta__card">
        <div class="content">
            <h2 class="white">Book a <span>ride with us.</span></h2>
            <p>Ready for your next trip to Orlando? You can book a ride now using our online booking system! The entire process can be completed online and when the time comes, we’ll be right there waiting for you.</p>
            <a href="/book" class="btn-pill filled primary">Book Reservation </a>
        </div>
    </div>
</section>

        <!-- Our Fleet -->
        <section class="section">

    <!-- Section Grid -->
    <div class="section__grid">

        <!-- Content Block -->
        <div class="content">
            <h2>Check out our <span>fleet.</span></h2>
            <p>Take a look at our fleet of vehicles and see which one best accommodates your needs.</p>
            <a href="/fleet" class="btn-pill hollow dark">View Fleet </a>
        </div>

        <!-- Image -->
        <div class="section__image">
            <picture>
                <source srcset="https://storage.googleapis.com/utravel-site-content/img/fleet.webp" type="image/webp">
                <source srcset="https://storage.googleapis.com/utravel-site-content/img/fleet.png" type="image/png">
                <img src="https://storage.googleapis.com/utravel-site-content/img/fleet.png" alt="Mercedes car coming out of a circle">
            </picture>
        </div>

    </div>

</section>

        <!-- Contact Us -->
        <section id="contact" class="contact">
    <div class="contact__image">
        <picture>
            <source srcset="https://storage.googleapis.com/utravel-site-content/img/contact.webp" type="image/webp">
            <source srcset="https://storage.googleapis.com/utravel-site-content/img/contact.jpg" type="image/jpeg">
            <img src="https://storage.googleapis.com/utravel-site-content/img/contact.jpg" alt="Mercedes car coming out of a circle">
        </picture>
    </div>
    <div class="contact__card" data-scroll data-scroll-speed="2">
        <div class="content">
            <h2>Have a question? <span>Contact us.</span></h2>
            <p>We’re happy to help you! Please feel free to give us a call or send us an email for any questions or concerns. We will get back to you as soon as possible.</p>
            <a class="contact__method" href="mailto:<%- settings.contact.email %>" >
                <svg><use href="/img/icons.svg#email"></use></svg>
                <h5><%- settings.contact.email %></h5>
            </a>
            <a class="contact__method" href="tel:<%- settings.contact.phone %>">
                <svg><use href="/img/icons.svg#iphone"></use></svg>
                <h5><%- settings.phone %></h5>
            </a>
        </div>
    </div>
</section>

        
        <!-- Footer -->
        <footer class="footer" id="footer">

    <div class="footer__brands">
        <div class="footer__brand">
            <svg><use href="/img/icons.svg#logo"></use></svg>
            <p>United Travel LLC</p>
        </div>
        <a href="https://www.arjunsamir.com" target="_blank" class="footer__agency">Designed by Day FiftyFive</a>
    </div>

    <div class="footer__main">
        <div class="footer__content">
            <div class="footer__contact">
                <h5 class="white">Contact Us</h5>
                <hr>
                <a href="mailto:<%- settings.contact.email %>"><%- settings.contact.email %></a>
                <a href="tel:<%- settings.contact.phone %>"><%- settings.phone %></a>
            </div>
            <ul class="footer__links">
                <li><a href="/account">My Account</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/terms">Terms of Service</a></li>
            </ul>
        </div>
        <div class="footer__copyright">
            <p>&copy; <%- settings.copyrightYear %> United Travel LLC. All rights reserved.</p>
        </div>
    </div>

</footer>

    </main>

    
    <!-- JavaScript -->
    <!-- Decalre Global Locale -->
<script>
    window.locale = "en";
    window.currentUser = JSON.parse('<%- JSON.stringify(user) %>');
    window.settings = JSON.parse('<%- JSON.stringify(settings) %>');
</script>

<!-- External JavaScript Links -->
<script src="/js/index.js"></script> 

</body>

</html>