<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms of Service - United Travel LLC</title>

  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="/style/main.css">
  
  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="/fonts/silka.css">

</head>

<body class="privacy-page fixed" data-barba="wrapper">

    <!-- Preloader -->
    <section class="preloader" id="preloader">
    <div class="preloader__content">
        <svg><use href="/img/icons.svg#logo"></use></svg>
        <span class="preloader__spinner"></span>
    </div>
</section>

    <!-- Navbar -->
    <!--NBCTN-->
<div class="navbar full" id="navbar">

    <div class="nb-esc no-esc"></div>

    <!-- Desktop Navbar -->
    <div class="navbar__full">

        <div class="navbar__background"></div>

        <a class="navbar__brand" href="/es/">
            <svg><use href="/img/icons.svg#logo"></use></svg>
            <span>United Travel</span>
        </a>

        <nav class="navbar__nav" aria-label="desktop">
            <ul class="navbar__nav-list">
    <li class="animate-item"><a href="/es/" data-nav-namespace="home">Casa</a></li>
    <li class="animate-item"><a href="/es/about" data-nav-namespace="about">Acerca de</a></li>
    <li class="animate-item"><a href="/es/fleet" data-nav-namespace="fleet">Flota</a></li>
    <li class="animate-item"><a href="/es/contact" data-nav-namespace="contact">Contacto</a></li>
    
</ul>
        </nav>

        <div class="navbar__actions">
            <!-- Language -->
            <div class="navbar__lang">
                <div class="navbar__lang-icon nb-lng">
                    <svg><use href="/img/icons.svg#language"></use></svg>
                </div>
                
                <div class="navbar__lang-menu hidden">
                    <ul>
                        <li data-nav-lang="en" class=""><p class="small">English</p></li>
                        <li data-nav-lang="es" class="active"><p class="small">Español</p></li>
                    </ul>
                </div>
            </div>

            <!-- Divider -->
            <hr>

            <!-- Profile Logged In -->
            <% if (user._id) { %>
                <div class="navbar__profile">

                    <!-- Logged In Icon -->
                    <div class="navbar__profile-pic nb-clt">
                        <img src="<%- user.photo %>" alt="Profile Photo">
                    </div>

                    <div class="navbar__profile-menu hidden">
                        <ul>
                            <li><p class="small">Hola <%- user.preferredName %></p></li>
                            <hr>
                            <li><a href="/es/account"><span>Mi cuenta</span></a></li>
                            <li><a class="app-logout" href="#" id="nb-logout"><span>Cerrar sesión</span></a></li>
                        </ul>
                    </div>

                </div>
            <% } else { %>
                <div class="navbar__profile">

                    <!-- Logged Out Icon -->
                    <svg class="navbar__profile-icon nb-clt"><use href="/img/icons.svg#person-circle"></use></svg>
                    
                    <div class="navbar__profile-menu hidden">
                        <ul>
                            <li><a href="/es/login"><span>Crear una cuenta</span></a></li>
                            <li><a href="/es/login"><span>Acceso</span></a></li>
                        </ul>
                    </div>

                </div>
            <% } %>

            <!-- Call To Action -->
            <a href="/es/book" class="navbar__cta">Reservar Ahora</a>
        </div>

    </div>

    <!-- Hamburger Menu Only -->
    <div class="navbar__min">
        <div class="navbar__menu-icon">
            <span></span>
            <span></span>
        </div>
    </div>
    
</div>

<div class="nav-menu hidden" id="nav-menu">

    <!-- Menu Background -->
    <div class="nav-menu__bg"></div>

    <!-- Desktop Menu Layout -->
    <div class="nav-menu__desktop">

        <div class="nav-menu__visual">

            <!-- Absolutely Positioned Nav menu -->
            <div class="nav-menu__image">
                <img src="https://storage.googleapis.com/utravel-site-content/img/menu-visual.png" alt="Mercedes driving in fog">
            </div>

            <!-- Branding -->
            <a href="/es/" class="nav-menu__brand">
                <svg><use href="/img/icons.svg#logo"></use></svg>
                <span class="h5">United Travel</span>
            </a>

            <!-- Log In Card -->
            <div class="user-acct">

                <!-- Backgronud -->
                <div class="user-acct__bg"></div>

                <% if (user._id) { %>
                    <div class="user-acct__photo">
                        <img src="<%- user.photo %>" alt="profile photo" />
                    </div>

                    <div class="user-acct__content">
                        <h6 class="bold">Hello <%- user.preferredName %></h6>
                        <div>
                            <a href="/es/account">Mi cuenta</a>
                            <hr>
                            <a href="#" class="app-logout">Cerrar sesión</a>
                        </div>
                    </div>
                <% } else { %>
                    <div class="user-acct__icon">
                        <svg class="icon-xl"><use href="/img/icons.svg#person-circle"></use></svg>
                    </div>

                    <div class="user-acct__content">
                        <h6 class="bold">Bienvenido Viajero</h6>
                        <div>
                            <a href="/es/login">Crear una cuenta</a>
                            <hr>
                            <a href="/es/login">Acceso</a>
                        </div>
                    </div>
                <% } %>

            </div>

        </div>
        
        <div class="nav-menu__content">

            <nav aria-label="desktop hamburger">
                <ul class="nav-menu__list">
    <li class="animate-item"><a href="/es/" data-nav-namespace="home">Casa</a></li>
    <li class="animate-item"><a href="/es/about" data-nav-namespace="about">Acerca de</a></li>
    <li class="animate-item"><a href="/es/fleet" data-nav-namespace="fleet">Flota</a></li>
    <li class="animate-item"><a href="/es/contact" data-nav-namespace="contact">Contacto</a></li>
    
</ul>
            </nav>

            <div class="nav-menu__cta">
                <div class="content">
                    <h4 class="white animate-item">¿Listo para reservar?</h4>
                    <p class="small animate-item">¿Está listo para reservar un viaje para su próximo viaje a Orlando? Puede reservar su viaje en línea utilizando nuestro sistema de reservas en línea.</p>
                    <a href="/es/book" class="btn-pill filled primary animate-item">Reservar Ahora </a>
                </div>
            </div>

            <div class="nav-menu__lang">
                <svg class="icon-md animate-item"><use href="/img/icons.svg#language"></use></svg>
                <ul>
                    <li data-nav-lang="en" class="animate-item "><h5>English</h5></li>
                    <li data-nav-lang="es" class="animate-item  active"><h5>Español</h5></li>
                </ul>
            </div>

        </div>

    </div>

    <div class="nav-menu__mobile">

        <div class="nav-menu__content">
            <a href="/es/" class="nav-menu__brand animate-item">
                <svg><use href="/img/icons.svg#logo"></use></svg>
            </a>
    
            <nav aria-label="mobile">
                <ul class="nav-menu__list">
    <li class="animate-item"><a href="/es/" data-nav-namespace="home">Casa</a></li>
    <li class="animate-item"><a href="/es/about" data-nav-namespace="about">Acerca de</a></li>
    <li class="animate-item"><a href="/es/fleet" data-nav-namespace="fleet">Flota</a></li>
    <li class="animate-item"><a href="/es/contact" data-nav-namespace="contact">Contacto</a></li>
    
        <li class="animate-item"><a href="/es/book" data-nav-namespace="booking">Reservar Ahora</a></li>
    
</ul>
            </nav>
    
            <div class="nav-menu__account">
                <% if (user._id) { %>
                    <h5 class="white animate-item">Hello <%- user.preferredName %></h5>
                    <div>
                        <a class="animate-item" href="/es/account">Mi cuenta</a>
                        <a class="animate-item app-logout" href="#">Cerrar sesión</a>
                    </div>
                <% } else { %>
                    <h5 class="white animate-item">Bienvenido Viajero</h5>
                    <div>
                        <a class="animate-item" href="/es/login">Crear una cuenta</a>
                        <a class="animate-item" href="/es/login">Acceso</a>
                    </div>
                <% } %>
            </div>
    
            <ul class="nav-menu__lang">
                <li data-nav-lang="en" class="animate-item"><h5>English</h5></li>
                <li data-nav-lang="es" class="animate-item active"><h5>Español</h5></li>
            </ul>
        </div>

    </div>

</div>
<!--NBCTN-->

    <!-- Main Block (Scroll Container) -->
    <main data-scroll-container data-barba="container" data-barba-namespace="privacy">

        <section class="legal">
            <div class="legal__content">
                <h2>Website Terms and Conditions of Use</h2>

                <h4>1. Terms</h4>

                <p>By accessing this Website, accessible from https://www.unitedtravelflorida.com, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>

                <h4>2. Use License</h4>

                <p>Permission is granted to temporarily download one copy of the materials on United Travel LLC's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>

                <ul>
                    <li>modify or copy the materials;</li>
                    <li>use the materials for any commercial purpose or for any public display;</li>
                    <li>attempt to reverse engineer any software contained on United Travel LLC's Website;</li>
                    <li>remove any copyright or other proprietary notations from the materials; or</li>
                    <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
                </ul>

                <p>This will let United Travel LLC to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format. These Terms of Service has been created with the help of the <a href="https://www.termsofservicegenerator.net">Terms Of Service Generator</a>.</p>

                <h4>3. Disclaimer</h4>

                <p>All the materials on United Travel LLC’s Website are provided "as is". United Travel LLC makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, United Travel LLC does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>

                <h4>4. Limitations</h4>

                <p>United Travel LLC or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on United Travel LLC’s Website, even if United Travel LLC or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>

                <h4>5. Revisions and Errata</h4>

                <p>The materials appearing on United Travel LLC’s Website may include technical, typographical, or photographic errors. United Travel LLC will not promise that any of the materials in this Website are accurate, complete, or current. United Travel LLC may change the materials contained on its Website at any time without notice. United Travel LLC does not make any commitment to update the materials.</p>

                <h4>6. Links</h4>

                <p>United Travel LLC has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by United Travel LLC of the site. The use of any linked website is at the user’s own risk.</p>

                <h4>7. Site Terms of Use Modifications</h4>

                <p>United Travel LLC may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>

                <h4>8. Your Privacy</h4>

                <p>Please read our Privacy Policy.</p>

                <h4>9. Governing Law</h4>

                <p>Any claim related to United Travel LLC's Website shall be governed by the laws of us without regards to its conflict of law provisions.</p>
            </div>
        </section>
        
        <!-- Contact Us -->
        <section id="contact" class="contact">
    <div class="contact__image">
        <picture>
            <source srcset="https://storage.googleapis.com/utravel-site-content/img/contact.webp" type="image/webp">
            <source srcset="https://storage.googleapis.com/utravel-site-content/img/contact.jpg" type="image/jpeg">
            <img src="https://storage.googleapis.com/utravel-site-content/img/contact.jpg" alt="Mercedes car coming out of a circle">
        </picture>
    </div>
    <div class="contact__card" data-scroll data-scroll-speed="2">
        <div class="content">
            <h2>¿Tengo una pregunta? <span>Contáctenos.</span></h2>
            <p>Estaremos encantados de ayudarte. No dude en llamarnos o enviarnos un correo electrónico y nos comunicaremos con usted lo antes posible.</p>
            <a class="contact__method" href="mailto:<%- settings.contact.email %>" >
                <svg><use href="/img/icons.svg#email"></use></svg>
                <h5><%- settings.contact.email %></h5>
            </a>
            <a class="contact__method" href="tel:<%- settings.contact.phone %>">
                <svg><use href="/img/icons.svg#iphone"></use></svg>
                <h5><%- settings.phone %></h5>
            </a>
        </div>
    </div>
</section>

        
        <!-- Footer -->
        <footer class="footer" id="footer">

    <div class="footer__brands">
        <div class="footer__brand">
            <svg><use href="/img/icons.svg#logo"></use></svg>
            <p>United Travel LLC</p>
        </div>
        <a href="https://www.arjunsamir.com" target="_blank" class="footer__agency">Diseñado por Day FiftyFive</a>
    </div>

    <div class="footer__main">
        <div class="footer__content">
            <div class="footer__contact">
                <h5 class="white">Contacta con nosotros</h5>
                <hr>
                <a href="mailto:<%- settings.contact.email %>"><%- settings.contact.email %></a>
                <a href="tel:<%- settings.contact.phone %>"><%- settings.phone %></a>
            </div>
            <ul class="footer__links">
                <li><a href="/es/account">Mi Cuenta</a></li>
                <li><a href="/es/privacy">Política de Privacidad</a></li>
                <li><a href="/es/terms">Términos de Servicio</a></li>
            </ul>
        </div>
        <div class="footer__copyright">
            <p>&copy; <%- settings.copyrightYear %> United Travel LLC. Reservados todos los derechos.</p>
        </div>
    </div>

</footer>

    </main>
    
    <!-- JavaScript -->
    <!-- Decalre Global Locale -->
<script>
    window.locale = "es";
    window.currentUser = JSON.parse('<%- JSON.stringify(user) %>');
    window.settings = JSON.parse('<%- JSON.stringify(settings) %>');
</script>

<!-- External JavaScript Links -->
<script src="/js/index.js"></script> 

</body>

</html>