<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', { title: 'About Us - United Travel LLC' })  %> 
</head>

<body class="about-page preload" data-barba="wrapper">

    <!-- Preloader -->
    <%- include('../partials/preloader'); %>
    

    <!-- Navigation Bar -->
    <%- include('../partials/navbar', { lang, path })  %> 


    <!-- Data Scroll Container -->
    <main data-scroll-container data-barba="container" data-barba-namespace="about">

        <!-- Header -->
        <header class="header">

            <div class="header__bg">
                <picture>
                    <source srcset="/img/palms.webp" type="image/webp">
                    <source srcset="/img/palms.jpg" type="image/jpeg">
                    <img src="/img/palms.jpg" alt="Picture of palm trees in orlando" data-scroll data-scroll-speed="-0.25">
                </picture>
                <span></span>
            </div>

            <div class="header__content">
                <h2 class="header__headline" id="navbar-collapse">About <span>us</span></h2>
            </div>

            <a href="<%= path %>/book" class="header__cta">
                <div class="carat-btn lt-light dk-dark">
                    <h6>Book a ride now</h6>
                    <svg>
                        <use xlink:href="img/icons.svg#carat-right"></use>
                    </svg>
                </div>
                <p>Scroll to learn more</p>
            </a>

        </header>


        <!-- Orlando Banner -->
        <section class="text-banner">
            
            <h2 class="text-banner__text">Our heart is in <span>Orlando</span></h2>

        </section>


        <!-- Picture Grid Banner -->
        <section class="grid-banner">
            <div class="grid-banner__castle">
                <picture>
                    <source srcset="/img/disney-castle.webp" type="image/webp">
                    <source srcset="/img/disney-castle.jpg" type="image/jpeg">
                    <img src="/img/disney-castle.jpg" alt="Picture of the Disney Castle">
                </picture>
            </div>
            <div class="grid-banner__hogwarts">
                <picture>
                    <source srcset="/img/hogwarts.webp" type="image/webp">
                    <source srcset="/img/hogwarts.jpg" type="image/jpeg">
                    <img src="/img/hogwarts.jpg" alt="Hogwarts Castle at Universal's Island of Adventure">
                </picture>
            </div>
            <div class="grid-banner__rocket">
                <picture>
                    <source srcset="/img/rocket.webp" type="image/webp">
                    <source srcset="/img/rocket.jpg" type="image/jpeg">
                    <img src="/img/rocket.jpg" alt="Hollywood Rip Ride Rocket Rollercoaster at Universal Studios Orlando">
                </picture>
            </div>
            <div class="grid-banner__palms">
                <picture>
                    <source srcset="/img/disney-palms.webp" type="image/webp">
                    <source srcset="/img/disney-palms.jpg" type="image/jpeg">
                    <img src="/img/disney-palms.jpg" alt="Palm trees on the road to Disney World">
                </picture>
            </div>
        </section>


        <!-- Family Owned Section -->
        <section class="section light" id="family">

            <div class="section__container">

                <div class="section__image portrait">
                    <div class="img-accent orlando"></div>
                    <picture>
                        <source srcset="/img/handshake.webp" type="image/webp">
                        <source srcset="/img/handshake.jpg" type="image/jpeg">
                        <img src="/img/handshake.jpg" alt="Neon handshake sign" data-scroll data-scroll-speed="1.2">
                    </picture>
                </div>

                <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>

                    <h2><span>Family</span> Owned & Operated</h2>

                    <p>We are a family owned & operated business centered in Orlando, Florida. This company was founded in 2013 by Beatriz Murillo and Juan Lopez, with the core goal of providing first class black car services around the Orlando and Tampa Bay areas. We have since then grew and now offer long distance rides throughout the state of Florida.</p>

                </div>

            </div>
            

        </section>


        <!-- Professional & Friendly -->
        <section class="immersive">

            <div class="immersive__container">

                <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>
                    <h2>Always <span>Professional.</span> Always <span>Friendly.</span></h2>
                    <p>We are always professional and always courteous. When travelling with us, you will always be greeted with a smile and be treated with the utmost respect. We take pride in what we do and love meeting new people. The first thing you will see when our driver arrives is a smile on their face, because it truly is our pleasure to serve you.</p>
                </div>

            </div>

            <div class="immersive__img">
                <picture>
                    <source srcset="/img/friendly.webp" type="image/webp">
                    <source srcset="/img/friendly.png" type="image/jpeg">
                    <img src="/img/friendly.png" alt="Man wearing a classy hat smiling">
                </picture>
            </div>

        </section>


        <!-- Quality Section -->
        <section class="quality">

            <h2 class="text-banner__text">We believe in <span>Quality Service</span></h2>

            <div class="quality__grid">

                <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>

                    <h2>Going the extra mile.</h2>

                    <p>We believe in going the extra mile for you. When you ride with us, you can expect only the highest caliber of service. We make sure that we arrive to your pick up point early and get you to your destination in a timely manner so you never have to wait a minute.</p>

                    <p>Quality means driving safely so that you have the ultimate peace of mind and can relax knowing that you are in good hands. We also have child seats to accomodate your young ones and keep them safe.</p>

                    <p>We also take the time to clean our vehicles both before and after every ride so that you can travel in a clean and sanitary enviornment. This is more important than ever due to COVID-19, so you can relax knowing that we are doing our part.</p>

                </div>

                <div class="quality__quote">
                    <div class="quality__quote-accent"></div>
                    <div class="quality__quote-card" data-scroll data-scroll-speed="1">
                        <h2>&ldquo;</h2>
                        <h3>Quality means doing it right when no one is looking.</h3>
                        <h5>- Henry Ford</h5>
                    </div>
                </div>

            </div>

        </section>


        <!-- Check out our fleet -->
        <section class="section light" id="fleet">

            <div class="section__container">

                <div class="section__image square">
                    <div class="img-accent booked-ride"></div>
                    <picture>
                        <source srcset="/img/mercedes.webp" type="image/webp">
                        <source srcset="/img/mercedes.jpg" type="image/jpeg">
                        <img src="/img/mercedes.jpg" alt="Close up of the front bumper of a Mercedes car" data-scroll data-scroll-speed="1.2">
                    </picture>
                </div>

                <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>

                    <h2>Check out our fleet</h2>

                    <p>Take a look at our fleet of vehicles and see which of our vehicles will best accomodate your needs.</p>

                    <a href="<%= path %>/fleet" class="btn hollow lt-dark dk-light hover-fill hover-primary">Check it out</a>

                </div>

            </div>

        </section>


        <!-- Call To Action -->
        <%- include('../partials/cta', { path, lang })  %> 


        <!-- Contact Form -->
        <%- include('../partials/contact', { path, lang })  %> 


        <!-- Footer -->
        <%- include('../partials/footer', { path, lang })  %> 

    </main>


    <!-- JavaScript Source -->
    <%- include('../partials/scripts')  %> 

</body>

</html>