<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', { title: 'Our Fleet - United Travel LLC' })  %>
</head>

<body class="fleet-page preload" data-barba="wrapper">

    <!-- Preloader -->
    <%- include('../partials/preloader'); %>
    

    <!-- Navigation Bar -->
    <%- include('../partials/navbar', { lang, path })  %> 


    <!-- Data Scroll Container -->
    <main data-scroll-container data-barba="container" data-barba-namespace="fleet">

        <!-- Hero -->
        <header class="header">

            <div class="bg-video">
                <div class="bg-video__preload"></div>
                <div class="bg-video__overlay"></div>
                <div class="bg-video__fallback loading" id="yt-fallback"></div>
                <video class="bg-video__player" autoplay muted loop playsinline>
                    <source src="/video/fleet.webm" type="video/webm">
                    <source src="/video/fleet.mp4" type="video/mp4">
                </video>
            </div>

            <div class="header__content">
                <h2 class="header__headline" id="navbar-collapse">Our <span>fleet</span></h2>
            </div>

            <a href="<%= path %>/book" class="header__cta">
                <div class="carat-btn lt-light dk-dark">
                    <h6>Book a ride now</h6>
                    <svg>
                        <use xlink:href="/img/icons.svg#carat-right"></use>
                    <svg>
                </div>
                <p>Scroll to learn more</p>
            </a>

        </header>


        <!-- Orlando Banner -->
        <section class="text-banner">
            <h2 class="text-banner__text"><span>Comfort</span> comes in different sizes</h2>
        </section>


        <!-- Fleet Smaller -->
        <section class="fleet small">

            <!-- Compact Vehicle -->
            <div class="section__container">

                <div class="section__image landscape">
                    <div class="img-accent compact"></div>
                    <picture>
                        <source srcset="/img/vehicles/compact.webp" type="image/webp">
                        <source srcset="/img/vehicles/compact.jpg" type="image/jpeg">
                        <img src="/img/vehicles/compact.jpg" alt="Picture of standard vehicle. Mercedes E-350" data-scroll data-scroll-speed="1.2">
                    </picture>
                </div>

                <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>

                    <h2>Compact</h2>

                    <h5>Up to 3 passengers</h5>

                    <p>Compact is our smallest vehicle size. We typically use Mercedes E-350s in the compact class. It is exceptionally luxurious and exceptionally comfortable. This vehicle has a maximum capacity of 3 passengers.</p>

                    <a class="carat-btn lt-dark dk-light hover-primary">
                        <h6>See more pictures</h6>
                        <svg>
                            <use xlink:href="/img/icons.svg#carat-right"></use>
                        <svg>
                    </a>

                </div>

            </div>
            

            <!-- Standard Vehicle -->
            <div class="section__container">

                <div class="section__image landscape">
                    <div class="img-accent standard"></div>
                    <picture>
                        <source srcset="/img/vehicles/standard.webp" type="image/webp">
                        <source srcset="/img/vehicles/standard.jpg" type="image/jpeg">
                        <img src="/img/vehicles/standard.jpg" alt="Picture of standard vehicle. Mercedes E-350" data-scroll data-scroll-speed="1.2">
                    </picture>
                </div>

                <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>

                    <h2>Standard</h2>

                    <h5>Up to 7 passengers</h5>

                    <p>We typically use a Chevrolet Suburban SUV as our standard vehicle. It is a very comfortable and spacious vehicle. It can handle up to 7 passengers comfortably and carry more luggage than our compact vehicles.</p>

                    <a class="carat-btn lt-dark dk-light hover-primary">
                        <h6>See more pictures</h6>
                        <svg>
                            <use xlink:href="/img/icons.svg#carat-right"></use>
                        <svg>
                    </a>

                </div>

            </div>

        </section>
        
        
        <!-- Fleet Larger -->
        <section class="fleet large">

            <!-- Compact Vehicle -->
            <div class="section__container">

                <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>

                    <h2>Large</h2>

                    <h5>Up to 11 passengers</h5>

                    <p>In our large class of vehicles, we use Mercedes Sprinter vans. This vehicle is both spacious and luxurious. This van can carry up to 11 passengers comfortably, and has plenty of room for luggage.</p>

                    <a class="carat-btn lt-dark dk-light hover-primary">
                        <h6>See more pictures</h6>
                        <svg>
                            <use xlink:href="/img/icons.svg#carat-right"></use>
                        <svg>
                    </a>

                </div>

                <div class="section__image landscape">
                    <div class="img-accent large"></div>
                    <picture>
                        <source srcset="/img/vehicles/large.webp" type="image/webp">
                        <source srcset="/img/vehicles/large.jpg" type="image/jpeg">
                        <img src="/img/vehicles/large.jpg" alt="Picture of standard vehicle. Mercedes E-350" data-scroll data-scroll-speed="1.2">
                    </picture>
                </div>

            </div>
            

            <!-- Standard Vehicle -->
            <div class="section__container">

                <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>

                    <h2>Standard</h2>

                    <h5>Up to 14 passengers</h5>

                    <p>For our super vehicle class, we use Ford Transit vans. These vans are our largest vehicles and are perfect for larger families or tour groups. It has plenty of space for both passengers and luggage, maxing out at 14 passengers.</p>

                    <a class="carat-btn lt-dark dk-light hover-primary">
                        <h6>See more pictures</h6>
                        <svg>
                            <use xlink:href="/img/icons.svg#carat-right"></use>
                        <svg>
                    </a>

                </div>


                <div class="section__image landscape">
                    <div class="img-accent super"></div>
                    <picture>
                        <source srcset="/img/vehicles/super.webp" type="image/webp">
                        <source srcset="/img/vehicles/super.jpg" type="image/jpeg">
                        <img src="/img/vehicles/super.jpg" alt="Picture of standard vehicle. Mercedes E-350" data-scroll data-scroll-speed="1.2">
                    </picture>
                </div>

            </div>

        </section>


        <!-- Call To Action -->
        <%- include('../partials/cta', { path, lang })  %> 


        <!-- Contact Form -->
        <%- include('../partials/contact', { path, lang })  %> 


        <!-- Footer -->
        <%- include('../partials/footer', { path, lang })  %> 

    </main>

    <!-- Photoswipe Gallery -->
    <%- include('../partials/photoswipe')  %> 


    <!-- JavaScript Source -->
    <%- include('../partials/scripts')  %>

</body>

</html>