<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', { title: 'Services - United Travel LLC' })  %>
</head>

<body class="fixed" data-barba="wrapper">

    <!-- Preloader -->
    <%- include('../partials/preloader'); %>
    

    <!-- Navigation Bar -->
    <%- include('../partials/navbar', { lang, path })  %> 


    <!-- Data Scroll Container -->
    <main data-scroll-container data-barba="container" data-barba-namespace="services">

        <!-- Hero -->
        <header class="header">

            <div class="header__bg">
                <picture>
                    <source srcset="/img/passenger-tablet.webp" type="image/webp">
                    <source srcset="/img/passenger-tablet.jpg" type="image/jpeg">
                    <img src="/img/passenger-tablet.jpg" alt="Woman sitting in back seat of car using a tablet" data-scroll data-scroll-speed="-1">
                </picture>
                <span></span>
            </div>

            <div class="header__content">
                <h2 class="header__headline" id="navbar-collapse">Our <span>services</span></h2>
            </div>

            <a href="<%= path %>/book" class="header__cta">
                <div class="carat-btn lt-light dk-dark">
                    <h6>Book a ride now</h6>
                    <svg>
                        <use xlink:href="/img/icons.svg#carat-right"></use>
                    <svg>
                </div>
                <p>Scroll to learn more</p>
            </a>

        </header>


        <!-- From Point A to B -->
        <section class="dualcol beyond">

            <div class="dualcol__text">

                <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>

                    <h2>From point <span>A</span> to <span>B</span><span>eyond</span></h2>

                    <p>Whether you need to get around town, or from one city to the next, we are happy to help. We’re so much more than just another taxi or ride share. We take pride in what we do, getting you to your destination in a way that only true professionals can. We value quality, comfort, and safety above all else. Our drivers are highly experienced professionals who are never late and always courteous.</p>
                    
                    <p>We offer a range of services, including long distance rides, airport service, cruise service, and charter services. Keep scrolling to learn more.</p>

                </div>

            </div>

            <div class="dualcol__img">

                <picture>
                    <source srcset="/img/beyond.webp" type="image/webp">
                    <source srcset="/img/beyond.jpg" type="image/jpeg">
                    <img src="/img/beyond.jpg" alt="Woman in bikini sitting on swing hanging from a palm tree on the beach">
                </picture>

            </div>

        </section>


        <!-- Airport & Cruise Section -->
        <section class="section light" id="airport-and-cruise">

            <div class="section__container">

                <div class="section__image portrait">
                    <div class="img-accent orlando"></div>
                    <picture>
                        <source srcset="/img/airport-pickup.jpg" type="image/jpeg">
                        <img src="/img/airport-pickup.jpg" alt="Orlando Skyline" data-scroll data-scroll-speed="1.2">
                    </picture>
                </div>

                <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>

                    <h2>Airport & Cruise Services</h2>

                    <p>Need to be picked up or dropped off from the airport or a cruise terminal? We offer a completely seamless experience. We track the status of your flight so that we can be there early so that you aren’t waiting a minute for your driver to arrive. Boarding a plane or cruise ship is already stressful enough, so let us help make the process a little easier.</p>

                </div>

            </div>
            

        </section>



        <!-- Long Distance Rides -->
        <section class="immersive">

            <div class="immersive__container">

                <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>
                    <h2>Long distance rides? <span>No problem.</span></h2>
                    <p>Do you to get from Orlando to Miami? That’s not a problem for us as we proudly offer long distance rides. Sit back and relax as we drive you across the state of Florida. Enjoy a comfortable and smooth highway ride with all the comfort you need to make the time fly by.</p>
                </div>

            </div>

            <div class="immersive__img">
                <picture>
                    <source srcset="/img/map-route.webp" type="image/webp">
                    <source srcset="/img/map-route.jpg" type="image/jpeg">
                    <img src="/img/map-route.jpg" alt="Man wearing a classy hat smiling">
                </picture>
            </div>

        </section>



        <!-- Airport & Cruise Section -->
        <section class="section light" id="hourly">

            <div class="section__container">

                <div class="section__image portrait">
                    <div class="img-accent orlando"></div>
                    <picture>
                        <source srcset="/img/apple-watch.jpg" type="image/webp">
                        <source srcset="/img/apple-watch.jpg" type="image/jpeg">
                        <img src="/img/apple-watch.jpg" alt="Orlando Skyline" data-scroll data-scroll-speed="1.2">
                    </picture>
                </div>

                <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>

                    <h2>Reserve a driver by the hour with our charter service.</h2>

                    <p>We also offer charter services allowing you to book by the hour. This is perfect for special events, or a day out visiting Orlando’s world class attractions. We’ll take you anywhere that you need to go, and be right there waiting for you when you’re ready to head to your next destination. Book us for as long as you like with a minimum of three hours. If you would like to book charter service, please contact us for more information.</p>

                    <a href="<%= path %>/book" class="btn hollow lt-dark dk-light hover-fill hover-primary">Look Up Reservation</a>

                </div>

            </div>
            

        </section>


        <!-- From Point A to B -->
        <section class="dualcol more-about">

            <div class="dualcol__text">

                <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>

                    <h2>More about us</h2>

                    <p>Want to know more about our services? Learn more about our company and our values.</p>

                    <a href="<%= path %>/about" class="btn hollow lt-dark dk-light hover-fill hover-primary">Learn More</a>

                </div>

            </div>

            <div class="dualcol__img">

                <picture>
                    <source srcset="/img/miami-road.jpg" type="image/jpeg">
                    <img src="/img/miami-road.jpg" alt="Woman in bikini sitting on swing hanging from a palm tree on the beach">
                </picture>

            </div>

        </section>



        <!-- Check out our fleet -->
        <section class="section light" id="fleet">

            <div class="section__container">

                <div class="section__image square">
                    <div class="img-accent booked-ride"></div>
                    <picture>
                        <source srcset="/img/mercedes.webp" type="image/webp">
                        <source srcset="/img/mercedes.jpg" type="image/jpeg">
                        <img src="/img/mercedes.jpg" alt="Close up of the front bumper of a Mercedes car" data-scroll data-scroll-speed="1.2">
                    </picture>
                </div>

                <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>

                    <h2>Check out our fleet</h2>

                    <p>Take a look at our fleet of vehicles and see which of our vehicles will best accomodate your needs.</p>

                    <a href="<%= path %>/fleet" class="btn hollow lt-dark dk-light hover-fill hover-primary">Check it out</a>

                </div>

            </div>

        </section>


        <!-- Call To Action -->
        <%- include('../partials/cta', { path, lang })  %> 


        <!-- Contact Form -->
        <%- include('../partials/contact', { path, lang })  %> 


        <!-- Footer -->
        <%- include('../partials/footer', { path, lang })  %> 


    </main>


    <!-- JavaScript Source -->
    <%- include('../partials/scripts')  %> 

</body>

</html>