<footer class="footer" id="footer">

    <div class="footer__brands">
        <div class="footer__brand">
            <svg><use href="/img/icons.svg#logo"></use></svg>
            <p>United Travel LLC</p>
        </div>
        <a href="https://www.arjunsamir.com" target="_blank" class="footer__agency"><%- agency %></a>
    </div>

    <div class="footer__main">
        <div class="footer__content">
            <div class="footer__contact">
                <h5 class="white"><%= contact.title %></h5>
                <hr>
                <a href="mailto:{{ settings.contact.email }}">{{ settings.contact.email }}</a>
                <a href="tel:{{ settings.contact.phone }}">{{ settings.phone }}</a>
            </div>
            <ul class="footer__links">
                <li><a href="<%= path %>/account"><%= links.account %></a></li>
                <li><a href="<%= path %>/privacy"><%= links.privacy %></a></li>
                <li><a href="<%= path %>/terms"><%= links.terms %></a></li>
            </ul>
        </div>
        <div class="footer__copyright">
            <p>&copy; {{ settings.copyrightYear }} United Travel LLC. <%- copyright %></p>
        </div>
    </div>

</footer>