<nav>
    <a class="navbar__cta nb-link" href="<%= path %>/book"><%= links.home %></a>
    <a class="navbar__cta nb-link" href="<%= path %>/book"><%= links.about %></a>
    <a class="navbar__cta nb-link" href="<%= path %>/book"><%= links.contact %></a>
</nav>