<ul class="<%= className %>">
    <li><a href="<%= path %>/"><%= links.home %></a></li>
    <li><a href="<%= path %>/about"><%= links.about %></a></li>
    <li><a href="<%= path %>/fleet"><%= links.fleet %></a></li>
    <li><a href="<%= path %>/contact"><%= links.contact %></a></li>
</ul>