<ul class="<%= className %>">
    <li><a href="<%= path %>/" data-nav-namespace="home"><%= links.home %></a></li>
    <li><a href="<%= path %>/about" data-nav-namespace="about"><%= links.about %></a></li>
    <li><a href="<%= path %>/fleet" data-nav-namespace="fleet"><%= links.fleet %></a></li>
    <li><a href="<%= path %>/contact" data-nav-namespace="contact"><%= links.contact %></a></li>
</ul>