<ul class="<%= className %>">
    <li class="animate-item"><a href="<%= path %>/" data-nav-namespace="home"><%= links.home %></a></li>
    <li class="animate-item"><a href="<%= path %>/about" data-nav-namespace="about"><%= links.about %></a></li>
    <li class="animate-item"><a href="<%= path %>/fleet" data-nav-namespace="fleet"><%= links.fleet %></a></li>
    <li class="animate-item"><a href="<%= path %>/contact" data-nav-namespace="contact"><%= links.contact %></a></li>
    <% if (cta) { %>
        <li class="animate-item"><a href="<%= path %>/book" data-nav-namespace="booking"><%= cta %></a></li>
    <% } %>
</ul>